.flicker {
    animation: flicker 1s ease-in-out infinite;
    -moz-animation: flicker 1s ease-in-out infinite;
    -webkit-animation: flicker .1s ease-in-out infinite;
    -o-animation: flicker 1s ease-in-out infinite;
}

@keyframes flicker {
    0%,
    100% {
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      @include neonifyText($pink);
    }
    50% {
     -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
     -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      @include neonifyText($black);
      color: $pink;
     
  }