$black: #322025;
$green: #BADA55;
$blue: #1CE;
$yellow: #FE0;
$pink: #DE1E7E;
$orange: #FA7A55;
$purple: #F157ED;
$background: #FEE;

@mixin textGlow($color) {
    text-shadow: 0px 0px 7px rgba( $color, 0.5);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: $background;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-transform: uppercase;
}

p{
    margin: 0;
    padding: 0;
    text-transform: lowercase;
}

.grrl {
    text-transform: uppercase;
    font-weight: 600;
}

.spanx {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.weirdFlexRow {
    display: flex;
    flex-direction: row;
}

.weirdFlexColumn {
    display: flex;
    flex-direction: column;
}

.topBorder, .bottomBorder {
    top: 0px;
    background-color: $orange;
    display: block;
    width: 10px;
    height: 20vh;
    position: fixed;
    z-index: 5;
    border-radius: 10px;
}

.bottomBorder {
    top: 30vh;
    height: 70vh;
}

.sidebarToggle, .socialsToggle {
    position: fixed;
    top: 0px;
    z-index: 6;
    transition: all 250ms ease-in-out;
    &:hover > span, &:hover > button {
        background-color: $blue;
    }
}

.toggleButton, .socialsToggleButton {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $orange;
    cursor: pointer;
    position: fixed;
    width: 7vh;
    height: 7vh;
    top: 21.5vh;
    border-radius: 10px;
    z-index: 5;
    &:focus, &:focus ~ span {
        background-color: $blue;
    }
}

.sidebar, .socialsPanel {
    z-index: 3;
    width: 200px;
    min-height: 100vh;
    background-color: rgba( $black, 0.9);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: all 250ms ease-in-out;
    h2 {
        font-size: 3rem;
        color: $orange;
        @include textGlow($blue);
        text-transform: lowercase;
    }
    h3 {
        font-size: 2rem;
        color: $purple;
        @include textGlow($yellow);
        text-transform: lowercase;
        text-align: center;
    }
    a {
        &:hover, &:focus{
            box-shadow: 4px 8px $black, 6px 10px 5px $purple;
            color: $yellow;
            @include textGlow($purple)
        }
    }
}

.navList, .socialsList {
    height: 50vh;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.far, .fab, .fas {
    color: $background;
    font-size: 5rem;
    @include textGlow($background);
}





// font-family: 'Raleway', sans-serif;