.main {
    height: 100vh;
    section {
        width: 50%;
        height: 100vh;
    }
    .weirdFlexRow {
        justify-content: center;
        align-items: center;
    }
    .intro {
        justify-content: center;
        align-items: center;
        background-color: $black;
    }
    .introText {
        justify-content: center;
        align-items: flex-start;
    }
    img {
        height: 100vh;
    }
    h1 {
        color: $orange;
        font-size: 3rem;
        strong{
            @include textGlow($purple);
        }
        .tag {
            color: $blue;
            @include textGlow($yellow);
        }
    }
    h2 {
        color: $yellow;
        font-size: 2.5rem;
        margin-bottom: 10%;
        strong {
        @include textGlow($purple);
        }
        .tag {
            color: $purple;
            @include textGlow($yellow);
        }
    }
    .tag {
        text-transform: lowercase;
    }
    h3 {
        color: $green;
        @include textGlow($pink);
        font-size: 3rem;
        text-transform: lowercase;
        .punctuation {
            color: $pink;
        }
        .and {
            color: $blue;
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
            transform: translateX(30px);
        }
    }
    p {
        font-size: 2rem;
        color: $background;
        text-transform: lowercase;
        transform: translateX(60px);
        .punctuation {
            color: $blue;
            @include textGlow($orange);
        }
        .value {
            font-style: italic;
        }
    }
}

.sideBarToggle {
    left: 0px;
    .topBorder, .bottomBorder, .toggleButton {
        left: 0px;
    }
}

.sidebar {
    left: -200px;
    top: 0px;
    .navList {
        margin: 50% 0;
    }
    li {
        color: $background;
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
        @include textGlow($background)
    }
}

.openLeft {
    transform: translateX(200px);
}

.socialsToggle {
    right: 0px;
    .topBorder, .bottomBorder, .socialsToggleButton {
        right: 0px;
    }
}

.socialsPanel {
    right: -200px;
    top: 0px;
    .socialsList {
    margin: 25%;
    }
    a {
        &:hover > i, &:focus > i {
            color: $yellow;
            @include textGlow($purple)
        }
    }
}

.openRight {
    transform: translateX(-200px);
}

footer {
    position: absolute;
    bottom: 0px;
    p, .far{
        color: $green;
        @include textGlow($pink);
        text-align: center;
        padding-bottom: 5%;
    }
    p {
        font-weight: 700;
        font-size: 1.6rem;
    }
    .fa-copyright {
        font-size: 1.6rem;
    }
}

.about {
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    .aboutMe {
        height: 85vh;
        background-color: $black;
        align-items: center;
        justify-content: center;
    }
    h2 {
        padding-top: 5%;
    }
    p {
        font-size: 1.8rem;
        color: $background;
        text-transform: initial;
        transform: translateX(30px);
        margin-top: 2%;
    }
}

.skillz {
    justify-content: space-around;
    li {
        margin-top: 5%;
    }
    i {
        text-shadow: none;
    }
    img {
        width: 45px;
    }
}

.projects {
    height: 100vh;
    section {
        width: 50%;
        height: 100vh;
    }
    .weirdFlexRow {
        justify-content: center;
        align-items: center;
    }
    .weirdFlexColumn {
        justify-content: center;
        align-items: center;
    }
    .portalFrame {
        width: 90%;
    }
    img {
        height: 100vh;
    }
    .projectMenu {
        background-color: $black;
    }
    h2 {
    margin: 2% 10%;
    }
    li {
        margin-top: 5%;
    }
    a {
        color: $background;
        background-color: transparent;
        border: none;
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
        @include textGlow($background)
    }
}

.contact {
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    position: relative;
    .contactForm {
        width: 100%;
        height: 85vh;
        background-color: $black;
        align-items: center;
        justify-content: center;
    }
    .corset {
        height: 85vh;
    }
    form {
        width: 50%;
        height: 85vh;
        justify-content: space-around;
        font-size: 3rem;
    }
    input, textarea {
        background-color: transparent;
        border: 1px solid transparent;
        color: $blue;
        @include placeholder-color($blue, $blue);
        overflow: auto;
        padding: 5%;
        color: $background;

    }
    textarea {
        resize: none;
    }
    button {
        background-color: transparent;
        font-family: 'Sniglet', cursive;
        font-size: 4rem;
        letter-spacing: 2px;
        color: rgba( $background, 0.5);
        border: none;
        border-radius: 40px;
        padding: 5% 0;
        transition: 3s;
        height: 90px;
        position: relative;
        z-index: 5;
        overflow: hidden;
        &:hover, &:focus{
            color: $background;
            box-shadow: -45px 0 50px $purple, 45px 0 50px $green;
            mix-blend-mode: exclusion;
            text-shadow: 0px 0px 10px $black;
            cursor: pointer;
        }
        &:before {
            content: '';
            position: absolute;
            top: -27px;
            left: 0px;
            width: 90px;
            height: 120px;
            border-radius: 50%;
            background: transparent;
            filter: blur(5px);
            transition: 3s;
            z-index: -1;
        }
        &:hover:before, &:focus:before {
            background: $purple;
            transform: scaleX(6);
            overflow: hidden;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0px;
            right: 0px;
            width: 90px;
            height: 120px;
            border-radius: 50%;
            background: transparent;
            filter: blur(5px);
            transition: 3s;
            z-index: -1;
            mix-blend-mode: exclusion;
        }
        &:hover:after, &:focus:after {
            background: $green;
            transform: scaleX(6);
            overflow: hidden;
        }
        &:active {
            color: $yellow;
        }
    }
    img, .bubbleMsg, .bubble{
        position: absolute;
    }
    .bubble {
        width: 500px;
        right: 6%;
        top: 8%;
        transform: rotate(25deg);
        
    }
    .bubbleMsg {
        font-family: 'Sniglet', cursive;
        font-size: 4.5rem;
        right: 160px;
        top: 175px;
        // transform: rotate(-4deg);
        line-height: 2;
        z-index: 8;
        @include neonifyText($pink)
    }
    .longing {
        width: 400px;
        right: 0;
        bottom: 10%;
    }
}