main {
    background-color: $background;
    height: 100vh;
    section {
        width: 50%;
        height: 100vh;
    }
    .weirdFlexRow {
        justify-content: center;
        align-items: center;
    }
    .weirdFlexColumn {
        justify-content: center;
        align-items: flex-start;
    }
    .intro {
        background-color: $black;
        padding-left: 10%;
    }
    img {
        height: 100vh;
    }
    .overlay {
        position: fixed;
        width: 50%;
        max-width: 750px;
        height: 100vh;
        top: 0;
        left: 50%;
        bottom: 0;
        background-color: rgba( $black, 0.7);
        z-index: 2;
    }
    h1 {
        color: $orange;
        @include textGlow($orange);
        font-size: 3rem;
        .tag {
            color: $blue;
            @include textGlow($blue);
        }
    }
    h2 {
        color: $yellow;
        @include textGlow($yellow);
        font-size: 2.5rem;
        margin-bottom: 10%;
        .tag {
            color: $purple;
            @include textGlow($purple);
        }
    }
    .tag {
        text-transform: lowercase;
    }
    h3 {
        color: $green;
        @include textGlow($green);
        font-size: 3rem;
        text-transform: lowercase;
        .punctuation {
            color: $pink;
            @include textGlow($pink);
        }
        .and {
            color: $blue;
            @include textGlow($blue);
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
            transform: translateX(30px);
        }
    }
    p {
        font-size: 2rem;
        color: $background;
        @include textGlow($background);
        text-transform: lowercase;
        transform: translateX(60px);
        .punctuation {
            color: $blue;
            @include textGlow($blue);
        }
        .value {
            font-style: italic;
        }
    }
}

.sideBarToggle {
    left: 0px;
    .topBorder, .bottomBorder, .toggleButton {
        left: 0px;
    }
}

.sidebar {
    left: -300px;
    top: 0px;
    .navList {
        margin: 50% 0;
    }
    li {
        color: $background;
        font-size: 2.5rem;
        text-align: center;
        @include textGlow($background)
    }

}

.openLeft {
    transform: translateX(300px);
}

.socialsToggle {
    right: 0px;
    .topBorder, .bottomBorder, .socialsToggleButton {
        right: 0px;
    }
}

.socialsPanel {
    right: -300px;
    top: 0px;
    .socialsList {
    margin: 25%;
    }
}

.openRight {
    transform: translateX(-300px);
}

footer {
    position: absolute;
    bottom: 0px;
    p, .far{
        color: $green;
        @include textGlow($pink);
        text-align: center;
    }
    p {
        font-weight: 700;
        font-size: 2rem;
    }
    .far {
        font-size: 1.6rem;
    }
}

