html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style-type: none;
}

figure {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inconsolata', monospace;
  background-color: #FEE;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
  color: #FEE;
  text-transform: initial;
}

p {
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

.cashMoney, .tag {
  color: #1CE;
}

.smoothies {
  color: #FE0;
}

.punctuation {
  color: #F157ED;
}

.function {
  color: #BADA55;
}

ul, li {
  list-style: none;
  padding: 0;
}

a:hover, a:focus {
  -webkit-box-shadow: 4px 8px #322025, 6px 10px 5px #F157ED;
          box-shadow: 4px 8px #322025, 6px 10px 5px #F157ED;
  color: #FE0;
  text-shadow: 0px 0px 7px rgba(241, 87, 237, 0.5);
}

li a:hover, li a:focus {
  color: #FE0;
}

.grrl {
  text-transform: uppercase;
  font-weight: 600;
}

.spanx {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.corset {
  width: 75%;
}

.weirdFlexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.weirdFlexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.topBorder, .bottomBorder {
  top: 0px;
  background-color: #FA7A55;
  display: block;
  width: 10px;
  height: 20vh;
  position: fixed;
  z-index: 5;
  border-radius: 10px;
}

.bottomBorder {
  top: 30vh;
  height: 70vh;
}

.sidebarToggle, .socialsToggle {
  position: fixed;
  top: 0px;
  z-index: 6;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.sidebarToggle:hover > span, .sidebarToggle:hover > button, .socialsToggle:hover > span, .socialsToggle:hover > button {
  background-color: #1CE;
}

.toggleButton, .socialsToggleButton {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FA7A55;
  cursor: pointer;
  position: fixed;
  width: 7vh;
  height: 7vh;
  top: 21.5vh;
  border-radius: 10px;
  z-index: 5;
}

.toggleButton:focus, .toggleButton:focus ~ span, .socialsToggleButton:focus, .socialsToggleButton:focus ~ span {
  background-color: #1CE;
}

.sidebar, .socialsPanel {
  z-index: 3;
  width: 200px;
  min-height: 100vh;
  background-color: rgba(50, 32, 37, 0.9);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.sidebar h2, .socialsPanel h2 {
  font-size: 3rem;
  color: #FA7A55;
  text-shadow: 0px 0px 7px rgba(17, 204, 238, 0.5);
  text-transform: lowercase;
}

.sidebar h3, .socialsPanel h3 {
  font-size: 2rem;
  color: #F157ED;
  text-shadow: 0px 0px 7px rgba(255, 238, 0, 0.5);
  text-transform: lowercase;
  text-align: center;
}

.navList, .socialsList {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.far, .fab, .fas {
  color: #FEE;
  font-size: 5rem;
  text-shadow: 0px 0px 7px rgba(255, 238, 238, 0.5);
}

.flicker {
  animation: flicker 300ms ease-in-out infinite;
  -moz-animation: flicker 300ms ease-in-out infinite;
  -webkit-animation: flicker 300ms ease-in-out infinite;
  -o-animation: flicker 300ms ease-in-out infinite;
}

@-webkit-keyframes flicker {
  0%,
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #FEE;
    text-shadow: 0px 0 10px #DE1E7E, 0px 0 20px #DE1E7E, 0px 0 30px #DE1E7E, 0px 0 40px #DE1E7E, 0 0px 50px #DE1E7E, 0px 0 75px #DE1E7E, 0px 0 100px #DE1E7E;
  }
  20% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #FEE;
    text-shadow: 0px 0 10px #322025, 0px 0 20px #322025, 0px 0 30px #322025, 0px 0 40px #322025, 0 0px 50px #322025, 0px 0 75px #322025, 0px 0 100px #322025;
    color: #322025;
  }
}

@keyframes flicker {
  0%,
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #FEE;
    text-shadow: 0px 0 10px #DE1E7E, 0px 0 20px #DE1E7E, 0px 0 30px #DE1E7E, 0px 0 40px #DE1E7E, 0 0px 50px #DE1E7E, 0px 0 75px #DE1E7E, 0px 0 100px #DE1E7E;
  }
  20% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #FEE;
    text-shadow: 0px 0 10px #322025, 0px 0 20px #322025, 0px 0 30px #322025, 0px 0 40px #322025, 0 0px 50px #322025, 0px 0 75px #322025, 0px 0 100px #322025;
    color: #322025;
  }
}

.flickerLetter {
  animation: flickerLetter .12s ease-in-out infinite;
  -moz-animation: flickerLetter .12s ease-in-out infinite;
  -webkit-animation: flickerLetter .12s ease-in-out infinite;
  -o-animation: flickerLetter .12s ease-in-out infinite;
  position: relative;
  top: 3px;
}

@-webkit-keyframes flickerLetter {
  0%,
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #FEE;
    text-shadow: 0px 0 10px #FE0, 0px 0 20px #FE0, 0px 0 30px #FE0, 0px 0 40px #FE0, 0 0px 50px #FE0, 0px 0 75px #FE0, 0px 0 100px #FE0;
  }
  50% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #FEE;
    text-shadow: 0px 0 10px #322025, 0px 0 20px #322025, 0px 0 30px #322025, 0px 0 40px #322025, 0 0px 50px #322025, 0px 0 75px #322025, 0px 0 100px #322025;
    color: #FE0;
  }
}

@keyframes flickerLetter {
  0%,
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #FEE;
    text-shadow: 0px 0 10px #FE0, 0px 0 20px #FE0, 0px 0 30px #FE0, 0px 0 40px #FE0, 0 0px 50px #FE0, 0px 0 75px #FE0, 0px 0 100px #FE0;
  }
  50% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #FEE;
    text-shadow: 0px 0 10px #322025, 0px 0 20px #322025, 0px 0 30px #322025, 0px 0 40px #322025, 0 0px 50px #322025, 0px 0 75px #322025, 0px 0 100px #322025;
    color: #FE0;
  }
}

.flickerArrow {
  animation: flickerArrow 300ms ease-in-out infinite;
  -moz-animation: flickerArrow 300ms ease-in-out infinite;
  -webkit-animation: flickerArrow 300ms ease-in-out infinite;
  -o-animation: flickerArrow 300ms ease-in-out infinite;
}

@-webkit-keyframes flickerArrow {
  0%,
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #FEE;
    text-shadow: 0px 0 10px #BADA55, 0px 0 20px #BADA55, 0px 0 30px #BADA55, 0px 0 40px #BADA55, 0 0px 50px #BADA55, 0px 0 75px #BADA55, 0px 0 100px #BADA55;
  }
  20% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #FEE;
    text-shadow: 0px 0 10px #322025, 0px 0 20px #322025, 0px 0 30px #322025, 0px 0 40px #322025, 0 0px 50px #322025, 0px 0 75px #322025, 0px 0 100px #322025;
    color: #322025;
  }
}

@keyframes flickerArrow {
  0%,
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #FEE;
    text-shadow: 0px 0 10px #BADA55, 0px 0 20px #BADA55, 0px 0 30px #BADA55, 0px 0 40px #BADA55, 0 0px 50px #BADA55, 0px 0 75px #BADA55, 0px 0 100px #BADA55;
  }
  20% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #FEE;
    text-shadow: 0px 0 10px #322025, 0px 0 20px #322025, 0px 0 30px #322025, 0px 0 40px #322025, 0 0px 50px #322025, 0px 0 75px #322025, 0px 0 100px #322025;
    color: #322025;
  }
}

.main {
  height: 100vh;
}

.main section {
  width: 50%;
  height: 100vh;
}

.main .weirdFlexRow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .intro {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #322025;
}

.main .introText {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main img {
  height: 100vh;
}

.main h1 {
  color: #FA7A55;
  font-size: 3rem;
}

.main h1 .tag {
  color: #1CE;
  text-shadow: 0px 0px 7px rgba(255, 238, 0, 0.5);
}

.main h1 .neon {
  color: #FEE;
  text-shadow: 0px 0 10px #FA7A55, 0px 0 20px #FA7A55, 0px 0 30px #FA7A55, 0px 0 40px #FA7A55, 0 0px 50px #FA7A55, 0px 0 75px #FA7A55, 0px 0 100px #FA7A55;
}

.main h2 {
  color: #FE0;
  font-size: 2.5rem;
  margin-bottom: 10%;
}

.main h2 .neon {
  color: #FEE;
  text-shadow: 0px 0 10px #FE0, 0px 0 20px #FE0, 0px 0 30px #FE0, 0px 0 40px #FE0, 0 0px 50px #FE0, 0px 0 75px #FE0, 0px 0 100px #FE0;
}

.main h2 .tag {
  color: #F157ED;
  text-shadow: 0px 0px 7px rgba(255, 238, 0, 0.5);
}

.main .tag {
  text-transform: lowercase;
}

.main h3 {
  color: #BADA55;
  text-shadow: 0px 0px 7px rgba(222, 30, 126, 0.5);
  font-size: 3rem;
  text-transform: lowercase;
}

.main h3 .punctuation {
  color: #DE1E7E;
}

.main h3 .and {
  color: #1CE;
}

.main h3:nth-of-type(2), .main h3:nth-of-type(3) {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.main p {
  font-size: 2rem;
  color: #FEE;
  text-transform: lowercase;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}

.main p .punctuation {
  color: #1CE;
  text-shadow: 0px 0px 7px rgba(250, 122, 85, 0.5);
}

.main p .value {
  font-style: italic;
}

.sideBarToggle {
  left: 0px;
}

.sideBarToggle .topBorder, .sideBarToggle .bottomBorder, .sideBarToggle .toggleButton {
  left: 0px;
}

.sidebar {
  left: -200px;
  top: 0px;
}

.sidebar .navList {
  margin: 50% 0;
}

.sidebar li {
  color: #FEE;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 0px 7px rgba(255, 238, 238, 0.5);
}

.openLeft {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.socialsToggle {
  right: 0px;
}

.socialsToggle .topBorder, .socialsToggle .bottomBorder, .socialsToggle .socialsToggleButton {
  right: 0px;
}

.socialsPanel {
  right: -200px;
  top: 0px;
}

.socialsPanel .socialsList {
  margin: 25%;
}

.socialsPanel a:hover > i, .socialsPanel a:focus > i {
  color: #FE0;
  text-shadow: 0px 0px 7px rgba(241, 87, 237, 0.5);
}

.openRight {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

footer {
  position: absolute;
  bottom: 0px;
}

footer p, footer .far {
  color: #BADA55;
  text-shadow: 0px 0px 7px rgba(222, 30, 126, 0.5);
  text-align: center;
  padding-bottom: 5%;
}

footer p {
  font-weight: 700;
  font-size: 1.6rem;
}

footer .fa-copyright {
  font-size: 1.6rem;
}

.arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin: -24px 0 0 -16px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: center;
      justify-self: center;
}

.arrow a:hover, .arrow a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.arrow i:hover, .arrow i:focus {
  color: #FEE;
  text-shadow: 0px 0 10px #BADA55, 0px 0 20px #BADA55, 0px 0 30px #BADA55, 0px 0 40px #BADA55, 0 0px 50px #BADA55, 0px 0 75px #BADA55, 0px 0 100px #BADA55;
  -webkit-animation: none;
          animation: none;
}

.about {
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about .aboutMe {
  height: 85vh;
  background-color: #322025;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about h2 {
  padding-top: 2.5%;
}

.about p {
  font-size: 1.8rem;
  color: #FEE;
  text-transform: initial;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  margin-top: 2%;
}

.about .arrow {
  bottom: 10%;
}

.skillz {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skillz li {
  margin-top: 5%;
}

.skillz i {
  text-shadow: none;
}

.skillz img {
  width: 45px;
}

.projects {
  position: relative;
  height: 100vh;
}

.projects section {
  width: 50%;
  height: 100vh;
}

.projects .weirdFlexRow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .weirdFlexColumn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .projectPortal {
  position: relative;
}

.projects img {
  width: 100%;
  height: 100vh;
  -webkit-transition: 5s ease-in-out;
  transition: 5s ease-in-out;
}

.projects .projectMenu {
  background-color: #322025;
}

.projects h2 {
  margin: 2% 10%;
}

.projects li {
  margin-top: 10%;
  text-align: center;
}

.projects a {
  color: #FEE;
  background-color: transparent;
  border: none;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 0px 7px rgba(255, 238, 238, 0.5);
}

.projects .project {
  font-family: 'Sniglet', cursive;
  color: #FEE;
  text-shadow: 0px 0 10px #DE1E7E, 0px 0 20px #DE1E7E, 0px 0 30px #DE1E7E, 0px 0 40px #DE1E7E, 0 0px 50px #DE1E7E, 0px 0 75px #DE1E7E, 0px 0 100px #DE1E7E;
  position: absolute;
  bottom: 15px;
}

.projects .projectText {
  position: absolute;
  top: 20px;
  width: 85%;
  padding: 1% 2%;
  color: #FEE;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(50, 32, 37, 0.5);
  border: 2px solid #FEE;
  border-radius: 10px;
}

.contact {
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contact .contactForm {
  width: 100%;
  height: 85vh;
  background-color: #322025;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .corset {
  height: 85vh;
}

.contact form {
  width: 50%;
  height: 85vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 3rem;
}

.contact input, .contact textarea {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  color: #1CE;
  color: #FEE;
  text-shadow: 0px 0 10px #1CE, 0px 0 20px #1CE, 0px 0 30px #1CE, 0px 0 40px #1CE, 0 0px 50px #1CE, 0px 0 75px #1CE, 0px 0 100px #1CE;
  overflow: auto;
  padding: 5%;
  color: #FEE;
  -webkit-box-shadow: 0px 0 10px #322025, 0px 0 20px #322025, 0px 0 30px #322025, 0px 0 40px #322025, 0 0px 50px #322025, 0px 0 75px #322025, 0px 0 100px #DE1E7E;
          box-shadow: 0px 0 10px #322025, 0px 0 20px #322025, 0px 0 30px #322025, 0px 0 40px #322025, 0 0px 50px #322025, 0px 0 75px #322025, 0px 0 100px #DE1E7E;
}

.contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
  color: #1CE;
  opacity: 0.9;
}

.contact input:-moz-placeholder, .contact textarea:-moz-placeholder {
  color: #1CE;
  opacity: 0.9;
}

.contact input::-moz-placeholder, .contact textarea::-moz-placeholder {
  opacity: 0.9;
  color: #1CE;
}

.contact input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder {
  color: #1CE;
  opacity: 0.9;
}

.contact textarea {
  resize: none;
}

.contact button {
  background-color: transparent;
  font-family: 'Sniglet', cursive;
  font-size: 4rem;
  letter-spacing: 2px;
  color: rgba(255, 238, 238, 0.5);
  border: none;
  border-radius: 50px;
  padding: 3% 0;
  -webkit-transition: 3s;
  transition: 3s;
  height: 70px;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.contact button:hover, .contact button:focus {
  color: #FEE;
  -webkit-box-shadow: -45px 0 50px #DE1E7E, 45px 0 50px #1CE;
          box-shadow: -45px 0 50px #DE1E7E, 45px 0 50px #1CE;
  mix-blend-mode: exclusion;
  text-shadow: 0px 0px 10px #322025;
  cursor: pointer;
}

.contact button:before {
  content: '';
  position: absolute;
  top: -45px;
  left: 0px;
  width: 100px;
  height: 150px;
  border-radius: 50%;
  background: transparent;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: 3s;
  transition: 3s;
  z-index: -1;
}

.contact button:hover:before, .contact button:focus:before {
  background: #DE1E7E;
  -webkit-transform: scaleX(6);
          transform: scaleX(6);
  overflow: hidden;
}

.contact button:after {
  content: '';
  position: absolute;
  top: -5px;
  right: 0px;
  width: 100px;
  height: 150px;
  border-radius: 50%;
  background: transparent;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: 3s;
  transition: 3s;
  z-index: -1;
  mix-blend-mode: soft-light;
}

.contact button:hover:after, .contact button:focus:after {
  background: #1CE;
  -webkit-transform: scaleX(6);
          transform: scaleX(6);
  overflow: hidden;
}

.contact button:active {
  color: #FEE;
  text-shadow: 0px 0 10px #F157ED, 0px 0 20px #F157ED, 0px 0 30px #F157ED, 0px 0 40px #F157ED, 0 0px 50px #F157ED, 0px 0 75px #F157ED, 0px 0 100px #F157ED;
}

.contact img, .contact .bubbleMsg, .contact .bubble {
  position: absolute;
}

.contact .bubble {
  width: 500px;
  right: 6%;
  top: 8%;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.contact .bubbleMsg {
  font-family: 'Sniglet', cursive;
  font-size: 4.5rem;
  right: 160px;
  top: 175px;
  line-height: 2;
  z-index: 8;
  color: #FEE;
  text-shadow: 0px 0 10px #DE1E7E, 0px 0 20px #DE1E7E, 0px 0 30px #DE1E7E, 0px 0 40px #DE1E7E, 0 0px 50px #DE1E7E, 0px 0 75px #DE1E7E, 0px 0 100px #DE1E7E;
}

.contact .longing {
  width: 400px;
  right: 0;
  bottom: 10%;
}
